*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width:100%;
    background-color: orangered;
    color: white;
    
}
.foodcard {
padding: 5rem;

}   

/*
.header{
    padding: 40px;
    display: flex;
}
*/
.navigate .unorder{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    align-content: flex-start;
    padding-right: 5rem;
    

}
@media screen and (max-width:818px) {
    .navigate h1{
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    
}
@media screen and (max-width:818px) {
    .navigate .unorder{
        display: flex;
        padding: 5rem 4rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 2rem;
        

        
    }
    
} 

.navigate{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.container .navigate h1{
    font-weight: 900;
    font-size: xx-large;
}
.navigate .unorder li{
    padding-right: 20px;
    
   
    
 
}
.navigate .unorder .listitem{
    width:140px
}
.caption h1{
    padding: 10px;
    font-weight: bold;
    font-size: 10%;
    text-align: center;
    font-size: xx-large;
    

}
.navigate .unorder li,.libtn,.libtnsign:hover{
    cursor: pointer;
}
.navigate h1{
    padding:4%;
    justify-content: flex-start;
    padding-right: 40px;
    font-weight: bold;
}
.navigate .unorder .libtn{
    background-color: orangered;
    padding: 7px 10px;
    color: white;
    border-radius:  10px 10px 10px 10px;
    outline: none;
    border: 2px solid white;
    width: 100px;

} 
.navigate .unorder .libtnsign{
    background-color: black;
    padding: 7px 10px;
    color: white;
    border-radius: 10px;
    width: 100px;
    border:2px solid black
}
.caption h1{
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    
  
}
.container .caption{
    padding: 3rem;

}
.container .inputbar{
   padding: 30px 30px;
   text-align: center;
   margin-top: 10px;
}
.container .inputbar .input1{
    border-radius: 5px;
    width: 325px;
    height: 45px;
    padding: 10px;
    outline: none;
    border: orange;
    margin-top: 10px;

}
.inputbar .input2{
    border-radius: 5px;
    width: 325px;
    height: 45px;
    outline: none;
    border: orangered;
    padding: 10px;
    margin-top: 10px;
}
.foodcard{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: black;
     flex-wrap: wrap;
  
   
}
.foodcard .card1{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    background-color: white;
    justify-items: center;
    margin-top: 40px;
    text-align: center;
    padding: 30px 15px;
    margin-top: 10px;
    gap: 20px;
   
    
   
    
 
}
.foodcard .card1 img{
    width: 150px;
    margin-top: 20px;
    
   
}
.foodcard .card1 h3{
    font-weight: bolder;

}
.scrol{
    width: 100%;
    background-color: rgb(239, 232, 232);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    
}
.scrol .imgs,.img{
    display: flex;
    flex-direction: row;
    justify-content:center;

   
}
.scrol .total{
    padding: 40px;
    margin: 0px 43px;
    scrollbar-width: none;
    overflow: scroll;
}
.insta{
    background-color:rgb(239, 232, 232);
}
.insta h2{
    font-size: xx-large;
    padding-left: 2rem;
}
.insta .ins{
    margin: 30px 40px 0px;
    display: flex;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
    gap: 5px;
  
}

.tea{
    background-color: rgb(239, 232, 232);
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}
.bcard .cart{
    width:  400px;
    height: 600px;
    background-color: white;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    margin: 0px;
    object-fit: cover;
    justify-content: center;
    
    
    

    
    
}
.bcard .cart img{
    width: 100%;
    height: 200px;
}
.bcard .cart .letter{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    width:100%;
    flex-wrap: nowrap;
}
.bcard{
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: rgb(239, 232, 232);
    padding: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    
   
    
    
  
}
/*
@media screen and (max-width:430px) {
    .bcard{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;
        
        
    }
    
}
*/
.bcard .cart .rate{
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #28c76f;
    color: white;
    outline: none;
    font-weight: bold;
    font-size: large;
    border: 1px none ;
}
.bcard .cart .para{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.7;
}
.bcard .cart .bbutton{
    padding: 10px;
}
.bcard .cart .bbutton .booking{
    border-radius: 13px;
    color: white;
    padding: 10px 15px;
    background-color: rgb(74, 73, 73);
    outline: none;
    border: none;
    font-weight: bolder;
   

}
.bcard .cart .off{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    padding: 20px 10px;
}
.bcard .cart .off .btn1{
    border-radius: 13px;
    background-color: rgb(183, 238, 183);
    padding: 10px 10px;
    color: rgb(100, 195, 100);
    outline: none;
    border: none;
}
.bcard .cart .off .btn2{
    border-radius: 13px;
    background-color: rgb(215, 212, 212);
    padding: 10px 10px;
    color: rgb(93, 93, 93);
    border: none;
}
.lmg{
    display: block;
}
.lmg img{
    width: 100%;
    height: 25vh;    
    margin-top: 50px;
}
.lmg{
    background-color:  rgb(239, 232, 232);
}
.hloc h1{
    padding: 30px;
}
.locate .putton .ps{
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.locate .putton{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.locate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.swig{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    
}
.comp{
     display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.legal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.aval{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.life{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.address{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}
.footer{
    padding: 40px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column; 

}
.footer img{
    width: 250px
}




